.content {
  max-width: 800px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

input#file-upload {
  display: none;
}

.file-table td {
  word-break: break-all;
}


.file-upload {
  font-size: 40px;
  text-align: center;
  display: block;
  border: dashed 1px grey;
  border-radius: 5px;
  color: grey;
  padding: 1.5em;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  transition-property: font-size, padding;
  transition-duration: 0.5s;
}

.file-upload .hint {
  padding: 10px;
  font-size: 20px;
}

.file-upload i {
  margin: 10px;
}

.file-upload.small {
  font-size: 20px;
  padding: 0.2em;
}
