@import 'fonts';


$color-logo: #464646;
$color-content: #1a1a1a;
$color-shadow: #D4D4D4;
$color-dimmed: grey;
$color-dimmed-light: #E1E1E1;
$color-success: green;
$color-highlight: #1EAEDB;
$color-warning: #f1b51c;
$color-error: #ce0000;


@mixin monospace {
  font-family: 'Roboto Mono', monospace;
}


body {
  font-family: 'Roboto', sans-serif;
  color: $color-content;
}

hr {
  border-width: 1px;
  margin-bottom: 20px;
  margin-top: 20px;
}

h4 {
  text-shadow: $color-shadow 0px 0px 1px;
}

.Header {
  position: relative;
  margin: 15px;
  margin-bottom: 5px;

  img {
    vertical-align: bottom;
    margin-right: 0.5em;
    margin-left: 0.2em;
  }
  hr {
    margin-top: 0.3em;
    margin-bottom: 30px;
  }
  .title {
    font-family: 'Roboto-medium', sans-serif;
    font-size: 44px;
    color: $color-logo;
    text-shadow: $color-shadow 0px 0px 3px;
  }
}


.Navbar {
  /* Alternative WIP: Aligning it on the header level: */
  /* position: absolute; */
  /* float: right; */
  /* bottom: 0px; */
  /* right: 0px; */

  display: block;
  position: relative;
  height: 3em;
  line-height: 3em;
  font-size: 1.7rem;
  z-index: 99;
  border-top: 1px solid $color-dimmed-light;
  border-bottom: 1px solid $color-dimmed-light;
  margin-bottom: 25px;

  a {
    color: $color-content;
    text-decoration: none;
    &:hover {
      color: $color-highlight;
    }
  }

  ul {
    list-style: none;
    margin-bottom: 0px;
    padding-right: 1em;
    padding-left: 1em;
  }
  li {
    position: relative;
    float: right;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }
}


.Contracts-info {
  float: right;
  text-align: right;
  margin-top: 0.2em;
  margin-bottom: 1em;
  color: $color-dimmed;
  a {
    color: $color-dimmed;
  }
}

.Content {
  max-width: 800px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

input#file-upload {
  display: none;
}

.File-upload {
  $size-large: 40px;
  $size-small: 20px;

  display: block;
  padding: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;

  font-size: $size-large;
  text-align: center;
  color: $color-dimmed;
  border: dashed 2px $color-dimmed-light;
  border-radius: 5px;
  cursor: pointer;

  transition-property: font-size, padding;
  transition-duration: 0.5s;

  &.small {
    font-size: $size-small;
    padding: 0.2em;
  }

  .hint {
    font-size: $size-small;
    padding: 0.5em;
  }

  i {
    margin: 10px;
  }
}


.Clear {
  clear: both;
}


.Section {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid $color-dimmed-light;
}


.Files {
  font-size: 18px;
  text-align: center;
  .row {
    margin-top: 5px;
  }
  .header {
    width: 6em;
    text-transform: capitalize;
    font-weight: bold;
    display: inline-block;
  }
  .value {
    display: inline-block;
    min-width: 8em;
    word-break: break-all;
  }
}


.Section-header {
  text-align: center;
}


.Signer {
  $margin-vertical: 30px;
  $blockie-size: 50px;

  border-top: 1px solid $color-dimmed-light;
  padding-left: 5px;
  min-height: $blockie-size + $margin-vertical * 2;
  .header {
    text-align: center;
    padding-top: $margin-vertical;
    float: left;
    width: 150px;
    margin-left: 5%;
    margin-right: 8%;
  }
  .status {
    line-height: $blockie-size;
    font-size: 42px;
    width: $blockie-size;
    i {
      text-shadow: 0px 0px 5px $color-shadow;
    }
    .loading {
      color: $color-dimmed;
    }
    .verified {
      color: $color-dimmed-light;
    }
    .failed {
      color: $color-error;
    }
    .network-error {
      color: $color-warning;
    }
  }
  .blockie {
    box-shadow: 0px 0px 3px $color-shadow;
    border-radius: 20%;
    width: $blockie-size;
  }
  .proofs {
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    .proof {
      margin-top: 5px;
      word-break: break-all;
      i, img {
        margin-right: 5px;
      }
      &.failed {
        color: $color-error;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}


.Icon {
  height: 1.3333em;
  width: 1.15em;
  vertical-align: top;
}


.AddressURL {
  @include monospace;
  font-size: 0.95em;
}
