@import 'fonts';


$color-content: #1a1a1a;
$color-shadow: #D4D4D4;
$color-dimmed: grey;
$color-dimmed-light: #E1E1E1;
$color-dimmed-dark: #464646;
$color-success: green;
$color-highlight: #1EAEDB;
$color-warning: #f1b51c;
$color-error: #ce0000;

$color-bg-warning: #fff4b9;
$color-bg-grey: #fbfbfb;
$color-bg-highlight: #f7fdff;

$size-large: 1.8rem;
$size-larger: 2.3rem;


@mixin monospace {
  font-family: 'Roboto Mono', monospace;
}


body {
  font-family: 'Roboto', sans-serif;
  color: $color-content;
  font-size: 1.6rem;
}

hr {
  border-width: 1px;
  margin-bottom: 20px;
  margin-top: 20px;
}

h4 {
  text-shadow: $color-shadow 0px 0px 1px;
}

.Header {
  position: relative;
  margin: 15px;
  margin-bottom: 5px;

  img {
    vertical-align: bottom;
    margin-right: 0.5em;
    margin-left: 0.2em;
  }
  hr {
    margin-top: 0.3em;
    margin-bottom: 30px;
  }
  .title {
    font-family: 'Roboto-medium', sans-serif;
    font-size: 44px;
    color: $color-dimmed-dark;
    text-shadow: $color-shadow 0px 0px 3px;
  }
}


.Navbar {
  /* Alternative WIP: Aligning it on the header level: */
  /* position: absolute; */
  /* float: right; */
  /* bottom: 0px; */
  /* right: 0px; */

  display: block;
  position: relative;
  height: 3em;
  line-height: 3em;
  font-size: 1.7rem;
  z-index: 99;
  border-top: 1px solid $color-dimmed-light;
  border-bottom: 1px solid $color-dimmed-light;
  margin-bottom: 15px;

  ul {
    list-style: none;
    margin-bottom: 0px;
    padding-right: 1em;
    padding-left: 1em;
  }
  li {
    position: relative;
    float: right;
  }

  a {
    padding: 15px;
    color: $color-content;
    text-decoration: none;
    &:hover {
      color: $color-highlight;
    }
  }
}


.Contracts-info {
  float: right;
  text-align: right;
  margin-top: 0.2em;
  margin-bottom: 1em;
  color: $color-dimmed;
  a {
    color: $color-dimmed;
  }
}

.Root {
  max-width: 800px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

input#file-upload {
  display: none;
}

.File-upload {
  $size-large: 40px;
  $size-small: 20px;

  display: block;
  padding: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;

  font-size: $size-large;
  text-align: center;
  color: $color-dimmed;
  border: dashed 2px $color-dimmed-light;
  border-radius: 5px;
  cursor: pointer;

  transition-property: font-size, padding;
  transition-duration: 0.5s;

  &.small {
    font-size: $size-small;
    padding: 0.2em;
  }

  .hint {
    font-size: $size-small;
    padding: 0.5em;
  }

  i {
    margin: 10px;
  }
}


.Clear {
  clear: both;
}


.Section {
  margin-bottom: 30px;
  border-radius: 10px;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;

  &.highlighted {
    background-color: $color-bg-highlight;
  }

  &.warning {
    background-color: $color-bg-warning;
  }

  .status {
    text-align: center;
    font-size: $size-larger;
    margin-bottom: 0.5em;
  }
  .status-icon {
    text-align: center;
    font-size: $size-larger * 1.5;
    text-shadow: 0px 0px 1px;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }
}


.Account-guard {
  text-align: center;
  font-size: $size-larger;
  .guard-symbol {
    font-size: 1.5em;
    text-shadow: 0px 0px 0px;
    margin-bottom: 5px;
  }
}


.Files {
  background-color: $color-bg-grey;
  font-size: 18px;
  text-align: center;
  .row {
    margin-top: 5px;
  }
  .header {
    width: 6em;
    text-transform: capitalize;
    font-weight: bold;
    display: inline-block;
  }
  .value {
    display: inline-block;
    min-width: 8em;
    word-break: break-all;
  }
}


.Section-header {
  color: $color-dimmed-dark;
  text-align: left;
  margin-bottom: 15px;
  margin-left: 50px;
  font-size: $size-larger;
}


.List {
  text-align: left;
  .row {
    border-radius: 10px;
  }
  .row-odd {
    background-color: $color-bg-highlight;
  }
}


.Signer {
  $margin-vertical: 30px;
  $blockie-size: 50px;

  margin-left: 20px;
  margin-right: 20px;

  padding-left: 5px;
  min-height: $blockie-size + $margin-vertical * 2;
  .header {
    text-align: center;
    padding-top: $margin-vertical;
    float: left;
    width: 150px;
    margin-left: 5%;
    margin-right: 8%;
  }
  .status {
    line-height: $blockie-size;
    font-size: 42px;
    width: $blockie-size;
    i {
      text-shadow: 0px 0px 5px $color-shadow;
    }
    .loading {
      color: $color-dimmed;
    }
    .verified {
      color: $color-dimmed-light;
    }
    .failed {
      color: $color-error;
    }
    .network-error {
      color: $color-warning;
    }
  }
  .Blockie {
    width: $blockie-size;
  }
  .proofs {
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    .proof {
      margin-top: 5px;
      word-break: break-all;
      i, img {
        margin-right: 5px;
      }
      &.failed {
        color: $color-error;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}


.Blockie {
  box-shadow: 0px 0px 3px $color-shadow;
  border-radius: 20%;
  width: 50;
}

.Icon {
  height: 1.3333em;
  width: 1.15em;
  vertical-align: top;
}


.AddressURL {
  @include monospace;
  font-size: 0.95em;
}


.Button {
  color: $color-dimmed-dark;
  text-align: center;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0.3em 2em;
  font-size: 1.1em;

  &.inline {

  }

  &.block {
    padding: 0px;
    display: block;
    $height: $size-large * 2.5;
    height: $height;
    line-height: $height;
    font-size: $size-large;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  &.disabled {
    cursor: default;
  }
}


.Link-icon {
  display: inline-block;
  font-size: 1.1em;
  margin-left: 0.5em;
}


.Identity {
  .title {
    i,img {
      padding-right: 10px;
    }
    padding-right: 20px;
  }
}
